@page "/counter"
@inject IJSRuntime JS
@using System.Diagnostics
@using Blazor.DynamicJS

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Time: @currentCount</p>


<button class="btn btn-primary" @onclick="Test">Click me</button>

<label id="_test">test</label>
<div @ref="divElement">Text during render</div>

<div id="parent-div">
  <p id="child-p1">child 1</p>
  <p id="child-p3">child 3</p>
</div>

@code {
    ElementReference divElement;

    private async Task Test()
    {
        var w = new Stopwatch();
        w.Start();

        await TestCore1();
        await TestCore2();
        await TestCore3();
        await TestCore4();

        w.Stop();
        currentCount = (int)w.ElapsedMilliseconds;
    }

    private async Task TestCore1()
    {
        await Task.CompletedTask;

        using var js = await JS.CreateDymaicRuntimeAsync();

        var window = js.GetWindow();

        int ret1 = window.func1(1, 2, 3);
        int[] ret2 = window.func2(1, 2, 3);
        int sum = window.sum(1, 2, 3, 4);

        int[] ret3 = await ((IJSSyntax)window.func2).InvokeAsync(1, 2, 3);

        window.data = 100;
        await ((IJSSyntax)window.data).SetValueAsync(200);
        var ret4 = await ((IJSSyntax)window.data).GetValueAsync<int>();


        window.dataX = new { a = 100, b = 200 };

        window.arrayData = new[] { 1, 2, 3 };
        window.arrayData[1] = 100;
        for (int i = 0; i < (int)window.arrayData.length; i++)
        {
            window.console.log(window.arrayData[i]);
        }

        await ((IJSSyntax)window.arrayData).SetIndexValueAsync(2, 1000);
        var ret5 =  await ((IJSSyntax)window.arrayData).GetIndexValueAsync<int>(2);



        var x = window.dataX;
        x.a = x.b;
        int a = x.a;

        //new
        var rect = ((IJSSyntax)window.TestTargets.Rectangle).New(1, 2);
        var rect2 = await ((IJSSyntax)window.TestTargets.Rectangle).NewAsync(1, 2);
        int height = rect.height;
        int height2 = rect.height;

        string text = window.document.getElementById("_test").innerText;
        window.document.getElementById("_test").innerText = "abc";


        var newElement = window.document.createElement("p"); 
        var newContent = window.document.createTextNode("child 2"); 
        newElement.appendChild(newContent);
        newElement.setAttribute("id","child-p2"); 

        var parentDiv = window.document.getElementById("parent-div");

        var childP3 = window.document.getElementById("child-p3");

        parentDiv.insertBefore(newElement, childP3);
    }

    private async Task TestCore2()
    {
        await Task.CompletedTask;

        using var js = await JS.CreateDymaicRuntimeAsync();

        var func = js.ToJS(() =>
        {

            int dmy = 0;

        });
        func();

        var func2 = js.ToJS((int a, dynamic b, int c) =>
        {

            return js.ToJS(a + (int)b + c);

        });
        int val = func2(1, 2, 3);

        var window = js.GetWindow();
        window.FuncTestX = (Func<int, int, int>)((a, b)=>a + b);


        int val2 = window.FuncTestX(1, 2);
    }

    private async Task TestCore3()
    {
        await Task.CompletedTask;

        using var js = await JS.CreateDymaicRuntimeAsync();
        var mod = await js.ImportAsync("./exp.js");

        int x = mod.add(1, 2);

        var y = js.ToJS(new { a = 100, b = "abc" });

        var z = js.ToJS(divElement);
        z.innerText = "zzz";


    }

    private async Task TestCore4()
    {
        using var js = await JS.CreateDymaicRuntimeAsync();
        var window = js.GetWindow();

        window.PinTest = new
        {
            a = 3,
            b = "",
            d = new[] { 0,10,20,30}
        };
        window.PinTest.c = (Func<int, string>)(e => e.ToString());

        IPinTest pin = window.PinTest;

        pin.a = 100;
        pin.b = "xxx";
        var a = pin.a;
        var b = pin.b;
        var c = pin.c(100);
        pin.d[2] = 100;
        var d = pin.d[2];


        var ca = await pin.cAsync(100);

        await pin.set_aAsync(7);
        var aa = await pin.get_aAsync();

        await pin.d.set_ItemAsync(3, 88);
        var da = await pin.d.get_ItemAsync(3);
    }

    private int currentCount = 0;
    private async Task IncrementCountX()
    {
        await Task.CompletedTask;
        currentCount++;
    }
}
